body {
  margin: 0 auto;
  background-color: #edeef0;
  font-family: 'Montserrat';
}

.chat {
  margin: 32px auto;
  padding: 20px;
  width: 50%;
  height: calc(100vh - 104px);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #e4e4e4;
  border-radius: 6px;
  position: relative;
}

.message-history {
  height: calc(100% - 93px);
  padding: 10px;
  margin-bottom: 16px;
  overflow: auto;
}

.message-history::-webkit-scrollbar {
  width: 3px;
}

.message-history::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.message-history::-webkit-scrollbar-thumb {
  background: #888;
}

.message-history::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message_author {
  font-size: 10px;
  margin-bottom: 1px;
  color: #3f4746;
}

.message_text {
  font-size: 16px;
}

.message-history-block {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.message.message--mine {
  align-self: flex-end;
}

.message.message--mine .message_text {
  background-color: #7e7e7e;
}

.message {
  margin-bottom: 10px;
  align-self: flex-start;
}

.message .message_text {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #cf715ab4;
}

.message-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #d3d9de;
  padding: 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.message-panel_text-field {
  font-size: 16px;
  font-family: 'Montserrat';
  padding: 5px;
  border: none;
  outline: none;
  width: 90%;
  max-height: 38px;
  overflow-y: auto;
  position: relative;
  word-wrap: break-word;
}

.message-panel_placeholder {
  color: #b3b3b3;
  padding: 5px;
  position: absolute;
}

.message-panel_text-field::-webkit-scrollbar {
  width: 3px;
}

.message-panel_text-field::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.message-panel_text-field::-webkit-scrollbar-thumb {
  background: #888;
}

.message-panel_text-field::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-panel_send-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send-btn {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background: url('../img/send_image.png');
  background-size: contain;
}