* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
  background: #F3F3F3;
  margin: 0px;
}

header {
  position: fixed;
  width: 100%;
  height: 12vh;
  top: 0px;
  background-color: #FFFF00;
}

.header-container {
  height: 70px;
  position: relative;
}

.logo, .cart {
  text-align: center;
  display: table-cell;
}

.logo {
  font-size: 40px;
  float: left;
  height: 100%;
  width: 25%;
}

.logo-name {
  font-family: 'Pacifico', cursive;
  position: relative;
  bottom: 10px;
}

.logo-image {
  max-width: 80px;
}

.cart {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  height: 75%;
  width: 15%;
  float: right;
  position: relative;
  right: 19px;
  background-color: #ffff73;
}

.cart-image {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 35px;
}

.cart>span {
  font-family: 'Comfortaa', cursive;
  position: relative;
  display: inline-block;
  top: 5px;
  font-size: 20px;
}

main {
  margin-top: 100px;
  height: 90vh;
}

.navigation-panel {
  border-right: 10px solid #FFFF00;
  text-align: center;
  background-color: #ffffff;
  float: left;
  width: 23.8%;
  height: 100%;
  position: fixed;
  top: 80px;
  padding-top: 10px;
  padding-left: 20px
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  font-family: 'Comfortaa', cursive;
  padding: 5px 5px 5px 15px;
  text-align: justify;
  display: block;
  width: 65%;
  margin: 5px;
  margin-top: 5px;
  color: #000000;
}

li:hover {
  transition: 350ms;
  border-radius: 10px;
  background: #ffff40bd;
}

a:link {
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
  float: right;
}

.product-card {
  font-family: 'Comfortaa', cursive;
  width: 31%;
  height: 270px;
  background: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  padding: 15px;
}

.product-card:hover {
  box-shadow: 0px 0px 7px 3px #ffff73;
  transition: 300ms;
}

.product-image {
  height: 80%;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.product-image>img {
  max-width: 270px;
  max-height: 170px;
}

.product-name {
  display: inline-block;
  width: 100%;
  text-align: justify;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

.product-cost {
  color: rgb(177, 177, 177);
  display: inline-block;
  text-align: right;
  padding-top: 15px;
  height: 30px;
  width: 85%;
}

.add-to-cart {
  cursor: pointer;
  float: right;
  width: 40px;
}

.specific-product {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  float: right;
  margin-right: 19px;
  width: 72.8%;
}

.specific-product-image>img {
  position: relative;
  top: 40px;
  width: 400px;
}

.specific-product-description {
  width: 100%;
}