body {
  margin: 0px;
  overflow: hidden;
  font-family: 'Heebo', sans-serif;
  font-family: 'Almarai', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  /* background-color: #efefef; */
}

.calendar-app {
  background-color: #efefef;
  /* background-color: #efefef; */
  /* background-color: #ffffff; */
  width: 100%;
  height: 100vh;
  /* border: 3px solid;
  border-color: transparent; */
  overflow: hidden;
}

.calendar-table {
  width: 100%;
  height: calc(100vh - 58px);
  border: 10px solid transparent;
  border-collapse: collapse;
  position: absolute;
  top: 58px;
  /* height: 559px; */
  /* border: 7px solid #efefef; */
}

tr.day-of-the-week {
  text-align: right;
  vertical-align: bottom;
  border-bottom: 5px solid #efefef;
  background-color: #ffffff;
  height: 0px;
}

tr.day-of-the-week>th {
  font-weight: normal;
  padding-right: 20px;
}

.day {
  padding: 10px;
}

.calendar-table td {
  padding: 10px;
  text-align: right;
  vertical-align: top;
  border: 3px solid #efefef;
  /* border-spacing: 2px; */
  background-color: #ffffff;
  /* border:10px solid red; */
  width: 10%;
  height: 11%;
}

td.weekends, th.weekends {
  color: #a8a8a8;
}

td.weekends {
  background-color: #f5f5f5;
}

td.another-month {
  color: #ccccca;
}

.current-month, .current-year {
  font-size: 48px;
  /* display: block; */
  /* float: left; */
}

.current-month {
  font-weight: bold;
}

.calendar-title {
  background-color: #ffffff;
  border: 5px solid #efefef;
}

.theme-switch {
  position: relative;
  float: right;
}

.theme-switch>input {
  display: none;
}

.dark-mode .calendar-title, .dark-mode .day-of-the-week, .dark-mode .calendar-table td {
  color: #ffffff;
  background-color: #515151;
  border-color: #919090;
}

.dark-mode.calendar-app {
  background-color: #919090;
}

.dark-mode .calendar-table td {
  border: 3px solid #919090;
}

.dark-mode td.weekends {
  background-color: #414040;
  color: #919090;
}

.dark-mode td.another-month {
  color: #858282;
}